<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jagsc.org.abc.info">
    <!--packageにカーソルを合わせてRefactor -> Renameでpackage名も変更できる-->
    <!--build.gradleのapplicationIdを変えるのも忘れずに！-->

    <!--欲しい権限に関するpermissionを記述する　特にINTERNETとか忘れがち-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="jagsc.org.abc.info.App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="jagsc.org.abc.info.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.DetailConferenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ListConferenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DetailBazaarActivity"
            android:screenOrientation="portrait" />

        <!--Crashlyticsというツールを入れてます-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="49e96e5c483c3d53249639b65b786d8358cc4300" />
    </application>

</manifest>